.added-btn {
    animation: pulseSuccess 1.2s;
}

.failed-btn {
    animation: pulseFail 1.2s;
}
  
@keyframes pulseSuccess {
  70% {
    background-color: #26f31f;
    // font-weight: 900;
  }
  100% {
    background-color: unset;
    // font-weight: unset;
  }
}

@keyframes pulseFail {
  0% {
    background-color: #FF4136;
    // font-weight: 900;
  }
  100% {
    background-color: unset;
    // font-weight: unset;
  }
}