div.cart-page {
  h2.page-title {
    padding: 20px 0px;
    text-align: center;
  }

  .white-card:not(:last-child) {
    margin-bottom: 20px;
  }
}

div.cart-page ul.cart-list {
  li.cart-item {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  li img.cart-item-img {
    width: 60px;
    height: 40px;
    object-fit: cover;
  }
}
