div.cart-page {
  h2.page-title {
    padding: 20px 0px;
    text-align: center;
  }

  .white-card:not(:last-child) {
    margin-bottom: 20px;
  }
}

div.cart-page ul.cart-list {
  li.cart-item {
    margin-bottom: 10px;
    display: grid;
    grid-template: 1fr / auto 1fr 1fr auto 1fr auto 1fr auto;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
  }

  li img.cart-item-img {
    width: 60px;
    height: 40px;
    object-fit: cover;
  }
}

p.checkout-section-name {
  margin: 4px 0px;
}

div.cart-discount {
  max-width: 350px;
}

input.coupon-input {
  width: 100%;
}

span#coupon-feedback-message {
  font-weight: bold;
  &.success {
    color: green;
  }
  &.fail {
    color: red;
  }
}
