.confirmpage-list {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .img-wrapper {
    img {
      width: 50px;
      height: 50px;
      object-fit: cover;
    }
  }
}

.confirmpage-list-wrapper {
  background: white;
  border-radius: 3px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
  margin: 0 2em;
  padding: 2em;
  max-width: 900px;
  width: 100%;
}

.confirmpage-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    padding: 1em;
    text-align: center;
    font-size: 48px;
  }

  h2 {
    padding: 1em 0;
  }
}

.confirmpage-totalprice {
  font-weight: bold;
  padding-top: 1.5em;
  text-align: right;
}
