.top-header {
  position: sticky;
  position: -webkit-sticky;
  top: 0; /* required */
  background-color: #222c34;
  margin-bottom: 20px;
  z-index: 2;
  padding: 10px 0px;
  color: white;

  &__container {
    display: flex;
    justify-content: space-between;
    h1 {
      padding: 10px;
      font-size: 14px;
    }
  }

  nav {
    padding: 10px;
    z-index: 10;

    ul {
      list-style: none;
    }

    ul li {
      display: inline;
      margin-right: 6px;
      font-size: 14px;
    }

    ul li:hover {
      text-decoration: underline;
      color: white;
    }

    a {
      color: white;
    }
    .current-link {
      font-weight: bold;
    }

    a:not(.active) {
      text-decoration: none;
    }
  }
}
