div.header {
  position: sticky;
  position: -webkit-sticky;
  top: 0; /* required */
  background-color: #3b455e;
  padding: 5px 0px 5px 0px;
  margin-bottom: 1px;
  z-index: 2;
  padding: 2px 10px 0px 10px;
  color: white;
}

div.header nav {
  padding: 10px;
  z-index: 10;

  ul {
    list-style: none;
  }

  ul li {
    display: inline;
    margin-right: 6px;
    font-size: 16px;
  }

  ul li:hover {
    text-decoration: underline;
    color: white;
  }

  a {
    color: white;
  }

  a:not(.active) {
    text-decoration: none;
  }
}
