div.product-card {
  padding: 15px;

  h2.product-title-header {
    padding-bottom: 6px;
  }

  img.product-cover-image {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
  }

  div.flex-spacebetween {
    padding: 15px 0 0 0;
  }

  p.product-price {
    font-weight: bold;
    font-size: larger;
    color: #32414d;
  }
}
