@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

body {
  background-color: #efefef;
  overflow-y: scroll;
  background-image: url("../pictures/background.jpg");
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

hr {
  border: 0;
  border-top-style: none;
  border-top-width: 0px;
  border-top: 1px solid #dfdfdf;
  width: 100%;
  height: 1px;
  margin: 10px 0;
}

input {
  border: 1px solid #ccc;
  padding: 8px;
}

a:focus {
  outline: none;
}

.hidden {
  display: none;
}

.centered-container {
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.white-card {
  background-color: #fff;
  border-radius: 3px;
  padding: 10px;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
}

.form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-container *:not(:last-child) {
  margin-right: 10px;
}

.flex-spacebetween {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.extra-margin-top {
  margin-top: 100px;
}

.extra-margin-bottom {
  margin-bottom: 100px;
}

button {
  padding: 7px;
  border: 1px solid #b3b2b2;
}

.added-btn:hover {
  background-color: #88e085;
}

.added-btn:active {
  background-color: #26f31f;
}

.failed-btn:hover {
  background-color: #e7938f;
}

.failed-btn:active {
  background-color: #ff4136;
}

.my-masonry-grid {
  display: -webkit-box;
  /* Not needed if autoprefixing */
  display: -ms-flexbox;
  /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px;
  /* gutter size offset */
}

.my-masonry-grid_column {
  padding-left: 30px;
  /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  margin-bottom: 30px;
}

.top-header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  /* required */
  background-color: #222c34;
  margin-bottom: 20px;
  z-index: 2;
  padding: 10px 0px;
  color: white;
}

.top-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top-header__container h1 {
  padding: 10px;
  font-size: 14px;
}

.top-header__container a:visited,
.top-header__container a:link {
  color: white;
  text-decoration: none;
}

.top-header nav {
  padding: 10px;
  z-index: 10;
}

.top-header nav ul {
  list-style: none;
}

.top-header nav ul li {
  display: inline;
  margin-right: 6px;
  font-size: 14px;
}

.top-header nav ul li:hover {
  text-decoration: underline;
  color: white;
}

.top-header nav a {
  color: white;
}

.top-header nav .current-link {
  font-weight: bold;
}

.top-header nav a:not(.active) {
  text-decoration: none;
}

div.product-card {
  padding: 15px;
}

div.product-card h2.product-title-header {
  padding-bottom: 6px;
}

div.product-card img.product-cover-image {
  width: 100%;
  max-height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

div.product-card div.flex-spacebetween {
  padding: 15px 0 0 0;
}

div.product-card p.product-price {
  font-weight: bold;
  font-size: larger;
}

.product-details-card {
  margin-bottom: 60px;
}

@media only screen and (min-width: 1000px) {
  .product-details-card {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

.product-details-card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.product-details-card h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 2rem 2rem 0 0;
}

.price-addbtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 0 0 3rem 0;
}

.price-addbtn p {
  font-weight: bold;
  font-size: 18px;
}

.detail-page-heading {
  text-align: center;
  padding-top: 100px;
  font-weight: bold;
  font-size: 48px;
  color: #222c34;
  -webkit-filter: drop-shadow(1px 0px 1px);
          filter: drop-shadow(1px 0px 1px);
}

.name-des-stock {
  margin: 7rem;
}

.name-des-stock h2 {
  padding-bottom: 10px;
}

.review-card {
  margin-bottom: 10px;
}

/* 
    adopted from
    https://codepen.io/overtrue/pen/ZjVaVP
*/
.coupons {
  background: #fff;
  padding: 15px 0 0 0;
  width: 350px;
}

.coupons .coupon {
  margin-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}

.coupons .coupon > div {
  padding: 10px 20px;
  border-radius: 12px;
}

.coupons .coupon .coupon-intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background: #eee;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.coupons .coupon .coupon-intro h4 {
  font-size: 16px;
}

.coupons .coupon .coupon-intro ul {
  color: #aaa;
  padding-left: 20px;
}

.coupons .coupon .coupon-intro:after {
  content: " ";
  border: 2px dashed #fff;
  height: 100%;
  position: absolute;
  top: 0;
  right: -2px;
  z-index: 2;
}

.coupons .coupon .coupon-value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  background: #4caf50;
  color: #fff;
  font-size: 28px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.coupons .coupon .coupon-value:before {
  content: " ";
  width: 24px;
  height: 24px;
  position: absolute;
  top: -12px;
  left: -12px;
  border-radius: 100%;
  background: #fff;
}

.coupons .coupon .coupon-value:after {
  content: " ";
  width: 24px;
  height: 24px;
  position: absolute;
  bottom: -12px;
  left: -12px;
  border-radius: 100%;
  background: #fff;
}

div.cart-page h2.page-title {
  padding: 20px 0px;
  text-align: center;
}

div.cart-page .white-card:not(:last-child) {
  margin-bottom: 20px;
}

div.cart-page ul.cart-list li.cart-item {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.cart-page ul.cart-list li img.cart-item-img {
  width: 60px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
}

p.checkout-section-name {
  margin: 4px 0px;
}

div.cart-discount {
  max-width: 350px;
}

input.coupon-input {
  width: 100%;
}

span#coupon-feedback-message {
  font-weight: bold;
}

span#coupon-feedback-message.success {
  color: green;
}

span#coupon-feedback-message.fail {
  color: red;
}

.confirmpage-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.confirmpage-list .img-wrapper img {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
}

.confirmpage-list-wrapper {
  background: white;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
  margin: 0 2em;
  padding: 2em;
  max-width: 900px;
  width: 100%;
}

.confirmpage-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.confirmpage-container h1 {
  padding: 2em;
  text-align: center;
}

.confirmpage-container h2 {
  padding: 1em 0;
}

.confirmpage-totalprice {
  font-weight: bold;
  padding-top: 1.5em;
  text-align: right;
}
/*# sourceMappingURL=App.css.map */